ProyectoCatalogo/ProyectoCatalogo/obj/
ProyectoCatalogo/ProyectoCatalogo.Android/obj/
ProyectoCatalogo/ProyectoCatalogo/bin/
ProyectoCatalogo/ProyectoCatalogo.Android/bin/
ProyectoCatalogo/ProyectoCatalogo.UWP/bin/
ProyectoCatalogo/ProyectoCatalogo.UWP/obj/
ProyectoCatalogo/ProyectoCatalogo.iOS/obj/
